---
import GitHub from '../components/GitHub.astro'
import WhatsappForm from '../components/WhatsappForm.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>WhatsApp Redirect</title>
	</head>
	<body class="">
    <GitHub />
    <main class="container">
      <section class="w-screen h-screen flex justify-center items-center">
        <WhatsappForm />
      </section>
    </main>
	</body>
</html>
